.features_section{
    height: 100vh;
    flex-direction: column;
    height: auto;
    .features_text{
        text-align: center;
        max-width: 500px;
    }
    .tabs_container{
        display: flex;
        flex-direction: column;
       
        .tabs{
            display: flex;
            margin-top: 40px;
            justify-content: center;
            li{
                position: relative;
                padding: 10px 30px;
                border: none;
                cursor: pointer;
                border-bottom: 1px solid #dddd;
                &:hover{
                    color: $SoftRed;
                }
               
            }
            .tab_active{
                color: $SoftRed;
                &::after{
                    content: '';
                    display: block;
                    background-color: $SoftRed;
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    
                }
            }
        }
        
        .tabs_contents{
            margin-top: 50px;
            .tab_desc{
                
                &:not(:first-child){
                    display: none;
                    
                }
                img{
                    max-height: 346px;
                    width: 100%;
                }
                .features_desc{
                    margin-left: 80px;
                    button{
                        background-color: $SoftBlue;
                        color: white;
                        margin-top: 20px;

                    }
                }
                
            }
        }
    }
}
@media screen and (max-width:933px){
    .features_section{
        
        .tabs_container{
           
            .tabs_contents{
                
                .tab_desc{
                    flex-direction: column;
                    text-align: center;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                   
                    .features_desc{
                        margin-left: 0;
                        margin-top: 70px;
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width: 551px){
    .tabs{
        flex-direction: column;
        text-align: center;
    }
}