.hero_section{
    margin-top: 50px;
    .hero_text{
        padding-right: 100px;
        h1{
            font-size: 3.5rem;
            color: $VeryDarkBlue;
        }
        p{
            margin-top: 30px;
        }
        .btn_google{
            color: white;
            background-color: $SoftBlue;
            border: none;
            border:2px solid $SoftBlue;
            margin-right: 20px;
            margin-top: 30px;
            &:hover{
                color: $SoftBlue;
                background-color: transparent;
            }
        }
        .btn_firefox{
            border: none;
            border:2px solid white;
            &:hover{
                border:2px solid $VeryDarkBlue; 
            }
        }
    }
    
}
@media screen and (max-width:1120px){
    .hero_section{
         flex-direction: column-reverse;
         justify-content: center;
         text-align: center;
         margin-top: 0;
         .hero_text{
            padding-right: 0;
         }
         .hero_bg{
            img{
                width: 100%;
                height: 100%;
            }
        }
     }
 }