@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: #9194a1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  color: #252b46;
  padding-bottom: 10px;
}

h4 {
  color: #252b46;
}

.btn {
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
}

.con {
  max-width: 1340px;
  margin: 0 auto;
}

.helper_container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_jc_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_ai_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul li a {
  text-transform: uppercase;
  color: #252b46;
  font-size: 0.8rem;
}

.nav ul li a:hover {
  color: #fa5757;
}

.nav ul li:not(:last-child) {
  margin-right: 50px;
}

.nav_menu {
  position: relative;
}

.btn_cta {
  background-color: #fa5757;
  border: 2px solid #fa5757;
  color: #fff;
  text-transform: uppercase;
}

.btn_cta:hover {
  background-color: transparent;
  color: #fa5757;
  border: 2px solid #fa5757;
}

.burger {
  width: 35px;
  height: 35px;
  display: none;
}

.burger .line1, .burger .line2, .burger .line3 {
  width: 35px;
  height: 5px;
  background-color: #252b46;
}

.burger .line1:not(:last-child), .burger .line2:not(:last-child), .burger .line3:not(:last-child) {
  margin-bottom: 5px;
}

.logo_mobile {
  color: white;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 35px;
  height: 35px;
  display: none;
}

.burger_close {
  width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.burger_close img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 677px) {
  body {
    overflow-x: hidden;
  }
  .nav_menu {
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    height: 94vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #252b46;
    color: #fff;
  }
  .show_nav {
    top: 0;
  }
  .burger {
    display: block;
  }
  .burger_close {
    display: block;
  }
  .logo_mobile {
    display: block;
  }
  .active {
    color: #fa5757;
  }
  .nav ul li {
    border-top: 1px solid #dddd;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .nav ul li a {
    color: #fff;
    font-size: 1.5rem;
  }
  .nav ul li a:hover {
    color: #fa5757;
  }
  .nav ul li:not(:last-child) {
    margin-right: 0px;
  }
  .btn_cta {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
  }
  .btn_cta:hover {
    background-color: transparent;
    color: #fa5757;
    border: 2px solid #fa5757;
  }
}

@media screen and (max-width: 551px) {
  .hero_text h1 {
    font-size: 2.5rem;
  }
}

.hero_section {
  height: 100vh;
}

.hero_section .hero_text {
  padding-right: 100px;
}

.hero_section .hero_text h1 {
  font-size: 3.5rem;
  color: #252b46;
}

.hero_section .hero_text p {
  margin-top: 30px;
}

.hero_section .hero_text .btn_google {
  color: white;
  background-color: #5368df;
  border: none;
  border: 2px solid #5368df;
  margin-right: 20px;
  margin-top: 30px;
}

.hero_section .hero_text .btn_google:hover {
  color: #5368df;
  background-color: transparent;
}

.hero_section .hero_text .btn_firefox {
  border: none;
  border: 2px solid white;
}

.hero_section .hero_text .btn_firefox:hover {
  border: 2px solid #252b46;
}

@media screen and (max-width: 1120px) {
  .hero_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 0;
  }
  .hero_section .hero_text {
    padding-right: 0;
  }
  .hero_section .hero_bg img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 551px) {
  .hero_section .hero_text h1 {
    font-size: 2rem;
  }
}

.features_section {
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.features_section .features_text {
  text-align: center;
  max-width: 500px;
}

.features_section .tabs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features_section .tabs_container .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features_section .tabs_container .tabs li {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #dddd;
}

.features_section .tabs_container .tabs li:hover {
  color: #fa5757;
}

.features_section .tabs_container .tabs .tab_active {
  color: #fa5757;
}

.features_section .tabs_container .tabs .tab_active::after {
  content: '';
  display: block;
  background-color: #fa5757;
  width: 100%;
  height: 4px;
  margin-top: 30px;
}

.features_section .tabs_container .tabs_contents {
  margin-top: 50px;
}

.features_section .tabs_container .tabs_contents .tab_desc:not(:first-child) {
  display: none;
}

.features_section .tabs_container .tabs_contents .tab_desc .features_desc {
  margin-left: 80px;
}

.features_section .tabs_container .tabs_contents .tab_desc .features_desc button {
  background-color: #5368df;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 933px) {
  .features_section .tabs_container .tabs_contents .tab_desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .features_section .tabs_container .tabs_contents .tab_desc img {
    width: 100%;
    height: 100%;
  }
  .features_section .tabs_container .tabs_contents .tab_desc .features_desc {
    margin-left: 0;
    margin-top: 70px;
  }
}

@media screen and (max-width: 551px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.extension_section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.extension_section .extension_text {
  text-align: center;
  padding: 50px;
  max-width: 500px;
}

.extension_section .extension_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.extension_section .extension_container .col {
  padding: 40px;
  -webkit-box-shadow: 2px 2px 10px;
          box-shadow: 2px 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 6px;
  height: 350px;
}

.extension_section .extension_container .col:not(:last-child) {
  margin-right: 40px;
}

.extension_section .extension_container .col .extension_bg img {
  margin-bottom: 20px;
}

.extension_section .extension_container .col .extension_btn button {
  margin-top: 20px;
  color: #fff;
  background-color: #5368df;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #5368df;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.extension_section .extension_container .col .extension_btn button:hover {
  background-color: transparent;
  color: #5368df;
}

.extension_section .extension_container .col .col_dotted {
  max-width: 200px;
}

.extension_section .extension_container .col .col_dotted img {
  width: 100%;
}

.col_firefox {
  margin-top: 40px;
}

.col_opera {
  margin-top: 80px;
}

@media screen and (max-width: 551px) {
  .extension_section .extension_text {
    padding: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .extension_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .extension_container .col {
    width: 100%;
  }
}

.faq_section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq_section .faq_text {
  text-align: center;
  max-width: 500px;
}

.faq_section .accordion_container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.faq_section .accordion_container .accordion .accordion_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
  cursor: pointer;
  padding: 20px;
}

.faq_section .accordion_container .accordion .accordion_header i {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.faq_section .accordion_container .accordion .accordion_header p {
  color: #252b46;
}

.faq_section .accordion_container .accordion .accordion_header p:hover {
  color: #fa5757;
}

.faq_section .accordion_container .accordion .accordion_header i {
  font-size: 2rem;
  color: #5368df;
}

.faq_section .accordion_container .accordion .accordion_content {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  line-height: 2em;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.faq_section .accordion_container .accordion .accordion_content.acc_active {
  max-height: 200px;
  padding: 15px;
}

.faq_section .accordion_container .faq_moreinfo {
  margin-top: 20px;
}

.faq_section .accordion_container .faq_moreinfo button {
  background-color: #5368df;
  color: white;
  margin-top: 20px;
}

.accordion_header.acc_active i {
  color: #fa5757;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5368df;
}

.footer .footer_text {
  max-width: 500px;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.footer .footer_text p {
  letter-spacing: 5px;
}

.footer .footer_text h2 {
  margin-top: 20px;
  color: #fff;
}

.footer .footer_text .footer_email {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer_text .footer_email input {
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 20px;
  padding: 10px;
}

.footer_bot {
  background-color: #252b46;
}

.footer_bot .footer_bottom {
  padding: 20px;
  background-color: #252b46;
}

.footer_bot .footer_bottom ul svg {
  margin-right: 25px;
}

.footer_bot .footer_bottom ul li {
  text-transform: uppercase;
}

.footer_bot .footer_bottom ul li:not(:last-child) {
  margin-right: 25px;
}

.footer_bot .footer_bottom ul li a {
  color: #fff;
  font-size: 1rem;
}

.footer_bot .footer_bottom ul li a:hover {
  color: #fa5757;
}

.footer_bot .footer_bottom .footer_social i {
  cursor: pointer;
  font-size: 2rem;
}

.footer_bot .footer_bottom .footer_social i:not(:first-child) {
  margin-left: 25px;
}

.footer_bot .footer_bottom .footer_social i:hover {
  color: #fa5757;
}

@media screen and (max-width: 596px) {
  .footer .footer_text .footer_email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .footer .footer_text .footer_email input {
    margin-right: 0px;
  }
  .footer .footer_text .footer_email button {
    margin-top: 20px;
    background-color: #fa5757;
    color: #fff;
  }
  .footer_bot .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_bot .footer_bottom .footer_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_bot .footer_bottom .footer_link svg {
    margin-bottom: 20px;
  }
  .footer_bot .footer_bottom .footer_link li {
    margin-bottom: 20px;
  }
  .footer_bot .footer_bottom .footer_link li:not(:last-child) {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */